.coursesSection {
  background-color: #bc3d3d;
  height: max-content;
  margin-top: 50px;
  padding-bottom: 30px;
}
.bindTopCircles {
  display: flex;
  justify-content: space-around;
}
.bindHoles {
  background-color: white;
  border-radius: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
}
.courseCardContainer {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 50px;
}
.coursesSectionContent {
  margin: 16px;
}
.TextHeading {
  font-size: 32px;
  font-weight: 700;
  color: white;
  width: 207px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  line-height: 120%;
}
.courseFullDetails {
  height: max-content;
  background-color: #e4f8ff;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 29px;
}
.courseFullDetails .heading .courseFullDetailsTitle {
  font-weight: 700;
  font-size: 14px;
}
.courseFullDetails .heading .courseFullDetailsName {
  line-height: 99%;
  font-size: 32px;
}
.courseFullDetails .courseFullDetailsDescription {
  font: 16px;
  margin-top: 20px;
}
.topSkills{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 10px;
    
}
.courseLink{
    color: blue;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 10px;
}
.courseFullDetails h4{
    font-weight: 700;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 10px;
  }

/* desktop version */

@media (min-width: 1024px) {
  .coursesSection {
    height: max-content;
    margin: 50px 40px;
  }
  .coursesSectionContent {
    margin: 30px;
  }
  .TextHeading {
    width: 400px;
  }
  .courseFullDetails {
    column-count: 2;
    column-gap: 30px;
    column-fill: auto;
  }
  .courseFullDetails .courseFullDetailsDescription{
    font-size: 20px;
  }
  .courseFullDetails .heading .courseFullDetailsName {
    line-height: 99%;
    width: 314px;
    font-size: 32px;
  }
  .courseFullDetails h4{
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
  }
}
