
  .courseFullDetails {
    height: max-content;
    background-color: transparent;
    color: black;
    padding: 29px;
  }
  .courseFullDetails .heading .courseFullDetailsTitle {
    font-weight: 700;
    font-size: 14px;
  }
  .courseFullDetails .heading .courseFullDetailsName {
    line-height: 99%;
    font-size: 32px;
  }
  .courseFullDetails .courseFullDetailsDescription {
    font: 16px;
    margin-top: 20px;
  }
  .topSkills{
      padding: 5px 10px;
      border: 1px solid black;
      border-radius: 5px;
      width: fit-content;
      margin-bottom: 10px;
      
  }
  .courseLink {
    color: blue;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .courseLink:hover .arrow-icon {
    transform: translateX(8px);
    transition: transform 0.2s ease-in-out;
  }
  
  .courseFullDetails h4{
      font-weight: 700;
      margin-top: 30px;
      font-size: 20px;
      margin-bottom: 10px;
    }
  
  /* desktop version */
  
  @media (min-width: 1024px) {
    .courseFullDetails {
      column-count: 2;
      column-gap: 30px;
      column-fill: auto;
      max-height: 60vh;
    }
    .courseFullDetails .courseFullDetailsDescription{
      font-size: 20px;
    }
    .courseFullDetails .heading .courseFullDetailsName {
      line-height: 99%;
      width: 314px;
      font-size: 32px;
    }
    .courseFullDetails h4{
      font-weight: 700;
      font-size: 20px;
      margin-top: 50px;
    }
    .coursesSection::before{
      position: absolute;
      right: -30px;
    }
  }
  