.envelope {
  position: relative;
  width: 300px; /* Can be changed dynamically */
  height: 200px; /* Adjustable without hardcoding */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  
}

/* Left and Right sides */
.leftSide,
.rightSide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(180deg, #067DA8 0%, #B2EBFF 100%);
}

/* Left Side */
.leftSide {
  left: 0;
  clip-path: polygon(0% 0%, 50% 50%, 0% 100%, 0% 0%);

}

/* Right Side */
.rightSide {
  right: 0;
  clip-path: polygon(100% 0%, 50% 50%, 100% 100%, 100% 0%);
}

/* Top Side */
.topSide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130%;
  background-color: green;
  clip-path: polygon(0% 0%, 100% 0%, 100% 8%, 70% 50%, 30% 50%, 0% 8%);
  z-index: 2;
  background: linear-gradient(180deg, #067DA8 0%, #B2EBFF 100%);
}

/* Bottom Side */
.bottomSide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: green;
  clip-path: polygon(0% 92%, 0% 100%, 100% 100%, 100% 92%, 80% 0%, 20% 0%);
  background: linear-gradient(180deg, #067DA8 0%, #B2EBFF 100%);
}
.envelopeContent{
    background-color: yellow;
}

/* desktop screen */
@media (min-width: 1024px) {
  .envelope {
    width: 400px;
    height: 250px;
  }
} 

/* screen width less than 425px */
@media (max-width: 423px) {
    .envelope{
        width: 200px;
        height: 140px;
    }
   
}


